<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
{{ user }}
    <form action="{% url 'close_chat' %}" method="post" style=" position:absolute; bottom:20px; right:0;">
        {% csrf_token %}
        <input type="hidden" value="{{ chat.id }}" name="to">
        <button type="submit">Yopish</button>
    </form>
    <div style="display:flex; flex-direction:column; gap:30px;">
    {% for message in chat.messages.all %}
        {% if message.from_user == user %}
            <div><p style="position:absolute; right:0; background-color:green">{{ message.text }} <span>{{ message.date }}</span></p></div>
        {% else %}
            <div>
                <p style="position:absolute; left:0; background-color:blue">{{ message.text }} <span>{{ message.date }}</span>
                    <form method="post" action="{% url 'add_like' pk=message.id %}">
                        <input type="hidden" value="{{ chat.id }}" name="to">

                        {% csrf_token %}
                        <button type="submit">{{ message.like.count }}</button>
                    </form>
                </p>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <form action="{% url 'add_chat' %}" method="post" style=" position:absolute; bottom:20px; right:0;">
        {% csrf_token %}
        <input type="text" name="text">
        <input type="hidden" value="{{ chat.id }}" name="to">
        <input type="submit">
    </form>
</body>
</html>