
    <div class="chat_user_kh_search">

        <input type="text" placeholder="Search">

    </div>
    111
    {% for i in chat %}
        {{ chats }}
        <div class="user_chat_kh_person">
            <div class="user_pic">
                <img src="{{ i.to_user.user.photo.url }}" alt="">
            </div>
            <div class="user_info">
                <div class="username">
                    {{ i.to_users.kasb }} <span>{{ i.messages.date }}</span>
                </div>
                <p>
                    {{ i.savol }}
                </p>
            </div>
        </div>
    {% endfor %}
