<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <form method="post" action="{% url 'chatting' %}">
        {% csrf_token %}
        <select name="occupation">
            {% for i in occupations %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <hr>
        <input type="text" name="savol">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>