<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/post.css">
    <title>Post-qo`shish </title>
</head>
<body>
    <div class="foundation-1">
        <!-- section head-container-s -->
        <div class="head-container-s">
            <!-- menu -->
            <menu>
                <!-- logo -->
                <div class="logo">
                    <div class="logo-img">
                        <img src="./img/img.png" alt="">
                    </div>
                    <h2>Med<span>Brat</span></h2>
                </div>
                <!-- menu-text -->
                <div class="menu-text">
                    <ul>
                        <li><a href="#">Asosiy</a></li>
                        <li><a href="chat.html">Shuxbatlashish</a></li>
                        <li><a href="band-etmoq1.html">Bant-etish</a></li>
                        <li><a href="sreach.html">Dorilar</a></li>
                        <li><a href="post.html">Maqolalar</a></li>
                    </ul>
                </div>
                <!-- login -->
                <div class="login">
                    <button type="submit">
                        Kirish
                    </button>
                </div>
            </menu>
        </div>
        <div class="main-2">
            <div class="for-write">

            </div>  
            <h3 for="lab">Maqola sarlavha</h3>
            <input type="text" placeholder="Maqola uchun sarlavha">
            <button type="submit">Yuborish</button>
        </div>
    </div>
</body>
</html>