{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Band-etmoq</title>
</head>
<body>
    <div class="foundation-s">
        <!-- section head-container-s -->
        <div class="head-container-s">
            <!-- menu -->
            <menu>
                <!-- logo -->
                <div class="logo">
                    <div class="logo-img">
                        <img src="{% static '/img/img.png' %}" alt="">
                    </div>
                    <h2>Med<span>Brat</span></h2>
                </div>
                <!-- menu-text -->
                <div class="menu-text">
                    <ul>
                        <li><a href="index.html">Asosiy</a></li>
                        <li><a href="chat.html">Shuxbatlashish</a></li>
                        <li><a href="sreach.html">Dorilar</a></li>
                        <li><a href="post.html">Maqolalar</a></li>
                    </ul>
                </div>
                <!-- login -->
                <div class="login">
                    <button type="submit">
                        Kirish
                    </button>
                </div>
            </menu>
            <!-- extra-menu -->
            <div class="extra-menu">
                <input type="text" placeholder="Qidirish...">
                <i style="position: relative; margin-left: -5%; color: #fff;" class="bi bi-search"></i>
                <button>Yoqtirilgan <i class="bi bi-star-fill"></i></button>
                <button>Shifokor bilan suxbat <i class="bi bi-people-fill"></i></button>
                <select name="" id="">
                    <option value="1">English</option>
                    <option value="2">Uzbek </option>
                    <option value="3">Russian</option>
                </select>
            </div>
        </div>
        <div class="main">
            <!-- section band1-left -->
            <div class="band1-left">
                <img src="{% static 'img/img4.png' %}" alt="">
            </div>
            <!-- section band1-right -->
            <div class="band1-right">
                <div class="band1-right-con">
                    <h3 class="label">Shifohonani tanlang</h3>
                    <select name="select1">
                        {% for i in medicine %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                    <h3 class="label">Bo`limni tanlang</h3>
                    <select name="select2">
                        {% for i in occupations %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                    <h3 class="label">Shifokorni talang</h3>
                    <select name="select3">
                        {% for i in nurse %}
                            <option value="{{ i.id }}">{{ i.user.full_name }}</option>
                        {% endfor %}
                    </select>
                    <h3 class="label">Vaqtni tanlang</h3>
                    <input type="date" name="input" placeholder="">
                    <div class="vaqtni-tanla">
                        <div class="vaqt-buttons">
                            <button>10-daqiqa</button>
                            <button style="margin-left: 15px;">20-daqiqa</button>
                        </div>
                        <select>
                        {% for i in time %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                        </select>
                        <div class="vaqt-buttons">
                            <button style="margin-left: 15px;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>