<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/user.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>User</title>
</head>
<body>
    <div class="left-bar">

    </div>
    <div class="foundation-s2">
        <!-- section head-container-s -->
        <div class="head-container-s">
            <!-- menu -->
            <menu>
                <!-- logo -->
                <div class="logo">
                    <div class="logo-img">
                        <img src="./img/img.png" alt="">
                    </div>
                    <h2>Med<span>Brat</span></h2>
                </div>
                <!-- menu-text -->
                <div class="menu-text">
                    <ul>
                        <li><a href="#">Asosiy</a></li>
                        <li><a href="#">Shuxbatlashish</a></li>
                        <li><a href="band-etmoq1.html">Bant-etish</a></li>
                        <li><a href="#">Dorilar</a></li>
                        <li><a href="#">Maqolalar</a></li>
                    </ul>
                </div>
                <!-- login -->
                <div class="login">
                    <button type="submit">
                        Kirish
                    </button>
                </div>
            </menu>
        </div>
        <!-- main -->
        <main>
            <div class="main-container">
                <div class="main-left">
                    <div class="user-card">
                        <div class="user-img">
                            <img src="img/img11.jpg" alt="">
                        </div>
                        <h2>Solijonov Ilhomjon</h2>
                        <h4>Psixolog</h4>
                        <div class="about-user">
                            <h5>About</h5>
                            <hr style="width: 70%;margin-left: 15%;">
                            <p>Lorem ipsum dolor sit amet consetempora doloremque, molestiae placeat soluta omnis eius labore id et quos officia possimus alias pariatur nihil eveniet ex quis quisquam veniam?</p>
                        </div>
                        <div class="add-post-btn">
                            <a href="#"><button>Add Post</button></a>
                        </div>
                    </div>
                </div>
                <div class="main-right">
                    <div class="info-of-acount">
                        <div class="posts-count">
                            <h2>followers: <span>29</span></h2>
                            <h2>following: <span>84</span></h2>
                        </div>
                        <div class="publication">
                            <h2>Publications: <span>29</span></h2>
                            <h2>Likes: <span>84</span></h2>
                        </div>
                        <div class="favorites">
                            <h4>Bugun qabulga yoxilgan insonlar</h4>
                            <span>76</span>
                        </div>
                    </div>
                    <div class="user-main">
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                        <div class="user-accaunt">
                            <div class="acaunt-page">
                                <img src="img/img8.jpg" alt="">
                            </div>
                            <h3>Solijonov Ilhomjon</h3>
                            <h4>13:50 - June 4 2022</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</body>
</html>