{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/sign-up.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Varification-code</title>
</head>
<body>
    <div class="foundation">
        <div class="sign-user-card">
            <div class="card-container">
                <!-- section sel-nav -->
                <div class="sel-nav">
                    <h2>Enter-Code</h2>
                </div>
                <!-- section main -->
                <div class="main">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ email }}" name="email">
                        <input type="hidden" value="{{ username }}" name="username">
                        <input type="hidden" value="{{ random }}" name="random">
                        <input type="hidden" value="{{ password }}" name="password">

                        <input type="password" placeholder="Input the code" name="input_code">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>