<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Singin</title>
</head>
<body>
<button type="button">User</button>
<a href="{% url 'signup_hamshira' %}"><button type="submit">Xamshira</button></a>
    <form style="margin:auto;" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <hr>
        email
        <input type="text" name="email">
        <hr>
        Toliq ismingiz
        <input type="text" name="username">
        <hr>
        password
        <input type="text" name="password">
        <hr>

        <BUTTON type="submit">submit</BUTTON>
    </form>
</body>
</html>