@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

.asos {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.asos .menu-container {
  width: 95%;
  height: auto;
}

.asos .menu-container menu {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.asos .menu-container menu .logo {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asos .menu-container menu .logo .logo-img {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.asos .menu-container menu .logo .logo-img img {
  width: 5vw;
  height: 5vh;
}

.asos .menu-container menu .logo h2 {
  font-size: 30px;
  font-weight: 500;
}

.asos .menu-container menu .logo h2 span {
  color: aqua;
}

.asos .menu-container menu .menu-text {
  width: 60%;
  height: 100%;
}

.asos .menu-container menu .menu-text ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asos .menu-container menu .menu-text ul li {
  list-style: none;
}

.asos .menu-container menu .menu-text ul li a {
  text-decoration: none;
  font-size: 20px;
}

.asos .menu-container menu .login {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.asos .menu-container menu .login button {
  padding: 6px 30px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  background-color: #878ECD;
  color: globalWhite;
}

.asos .menu-container menu .login button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.asos .chat_section_kh {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 34.3% 65%;
      grid-template-columns: 34.3% 65%;
}

.asos .chat_section_kh .chat_user_kh {
  width: 100%;
  height: 100%;
  background-color: #777777;
  overflow: scroll;
}

.asos .chat_section_kh .chat_user_kh::-webkit-scrollbar {
  display: none;
}

.asos .chat_section_kh .chat_user_kh .chat_user_kh_search {
  width: 100%;
  height: 40px;
  border: 1px solid;
  background-color: white;
  border-radius:0px;
}

.asos .chat_section_kh .chat_user_kh .chat_user_kh_search input {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.asos .chat_section_kh .chat_user_kh .chat_user_kh_search input:focus {
  background-color: #878ECD;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person {
  width: 100%;
  height: 70px;
  background-color: white;
  margin: 5px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  border-radius: 0px;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person:hover {
  background-color: #eedfdf;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person .user_pic {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person .user_pic img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 5px 0;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person .user_info .username {
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  margin: 5px 0;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person .user_info .username span {
  float: right;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 100;
}

.asos .chat_section_kh .chat_user_kh .user_chat_kh_person .user_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.asos .chat_section_kh .chat_message_kh {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 75% 10%;
      grid-template-rows: 15% 75% 10%;
}

.asos .chat_section_kh .chat_message_kh::-webkit-scrollbar {
  display: none;
}

.asos .chat_section_kh .chat_message_kh .message_user_info {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_pic {
  width: 100%;
  height: 100%;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_pic .img {
  width: 80px;
  height: 70px;
  float: left;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_pic .img img {
  width: 90%;
  margin: 0 10px;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_pic h1 {
  font-size: 18px;
  margin: 25px 30px;
  padding-left: 50px;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_text {
  width: 100%;
  height: 100%;
}

.asos .chat_section_kh .chat_message_kh .message_user_info .message_user_info_text p {
  text-align: center;
  background-color: #878ECD;
}

.asos .chat_section_kh .chat_message_kh .chat_section {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.asos .chat_section_kh .chat_message_kh .chat_section::-webkit-scrollbar {
  display: none;
}

.asos .chat_section_kh .chat_message_kh .chat_section .message_left {
  width: 60%;
  height: 80px;
  background: linear-gradient(150deg, #D9D9D9, #878ECD);
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  margin: 20px;
}

.asos .chat_section_kh .chat_message_kh .chat_section .message_right {
  width: 60%;
  height: 80px;
  background: linear-gradient(150deg, #878ECD, #D9D9D9);
  display: -ms-grid;
  display: grid;
  float: right;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  margin: 20px;
}

.asos .chat_section_kh .chat_message_kh .chat_typing {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: -14px;
}

.asos .chat_section_kh .chat_message_kh .chat_typing input {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 10px;
  margin-top: 10px;
}

.asos .chat_section_kh .chat_message_kh .chat_typing input:placeholder {
  margin-left: 20px;
}
/*# sourceMappingURL=chat.css.map */