@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

// section units
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'sans-serif';
}
// section foundation
.foundation{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // sign-user-card
    .sign-user-card, .sign-nurse-card{
        width: 400px;
        height: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 3px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // card-container
        .card-container, .card-container1{
            width: 90%;
            height: auto;
            margin: 100px 0;
            // sel navbar
            .sel-nav{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                h2{
                    color: #0B0B2F;
                    span{
                        color: rgb(114, 109, 109);
                    }
                }
                button{
                    width: 111px;
                    height: 35px;
                    background-color: rgb(249, 247, 247);
                    border: none;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 3px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    color: #0B0B2F;
                    font-weight: 500;
                }
                button:hover{
                    transform: scale(1.05);
                    transition: all 0.2s ease;
                }
            }
            // main
            .main{
                width: 100%;
                height: auto;
                margin-top: 20px;     
                form{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    input{
                        margin: 15px 0;
                        height: 35px;
                        width: 95%;
                        color: #0B0B2F;
                        border: none;
                        border-bottom: 1px solid grey;
                    }
                    select{
                        width: 45%;
                        height: 35px;
                        border: none;
                        border-bottom: 2px solid grey;
                        margin: 0 2%;
                    }
                    button{
                        margin: 10px 0;
                        padding: 5px 30px;
                        font-size: 17px;
                        background-color: rgb(249, 247, 247);
                        border: none;
                        box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        color: #0B0B2F;
                        font-weight: 500;
                    }
                    button:hover{
                        transform: scale(1.05);
                        transition: all 0.2s ease;
                    }
                }         
            }
        }
        .card-container1{
            margin: 20px;
        }
    }
}