@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", "sans-serif";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-bar {
  width: 7%;
  height: 100vh;
}

.foundation-s2 {
  width: 93%;
  height: auto;
  background-color: #f1f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 .head-container-s {
  width: 95%;
  height: auto;
}
.foundation-s2 .head-container-s menu {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foundation-s2 .head-container-s menu .logo {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foundation-s2 .head-container-s menu .logo .logo-img {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.foundation-s2 .head-container-s menu .logo .logo-img img {
  width: auto;
  height: 5vh;
}
.foundation-s2 .head-container-s menu .logo h2 {
  font-size: 30px;
  font-weight: 500;
}
.foundation-s2 .head-container-s menu .logo h2 span {
  color: aqua;
}
.foundation-s2 .head-container-s menu .menu-text {
  width: 60%;
  height: 100%;
}
.foundation-s2 .head-container-s menu .menu-text ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foundation-s2 .head-container-s menu .menu-text ul li {
  list-style: none;
}
.foundation-s2 .head-container-s menu .menu-text ul li a {
  text-decoration: none;
  font-size: 20px;
}
.foundation-s2 .head-container-s menu .login {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.foundation-s2 .head-container-s menu .login button {
  padding: 6px 30px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  background-color: #878ECD;
  color: #fff;
}
.foundation-s2 .head-container-s menu .login button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.foundation-s2 main {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container {
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foundation-s2 main .main-container .main-left {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container .main-left .user-card {
  width: 85%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foundation-s2 main .main-container .main-left .user-card .user-img {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container .main-left .user-card .user-img img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #0B0B2F;
}
.foundation-s2 main .main-container .main-left .user-card h2 {
  width: 80%;
  height: 25px;
  margin-left: 10%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  color: #0B0B2F;
}
.foundation-s2 main .main-container .main-left .user-card h4 {
  width: 100%;
  height: 20px;
  color: #3b3b5c;
  text-align: center;
  margin: 10px 0;
  font-weight: 500;
  font-size: 16px;
}
.foundation-s2 main .main-container .main-left .user-card .about-user {
  width: 100%;
  height: 40%;
}
.foundation-s2 main .main-container .main-left .user-card .about-user h5 {
  text-align: center;
  margin: 10px 0;
  color: #38383c;
  font-size: 18px;
  font-weight: 500;
}
.foundation-s2 main .main-container .main-left .user-card .about-user p {
  margin: 20px 0;
  width: 70%;
  margin-left: 15%;
  font-size: 13px;
}
.foundation-s2 main .main-container .main-left .user-card .add-post-btn {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.foundation-s2 main .main-container .main-left .user-card .add-post-btn a {
  width: 50%;
  height: 35px;
}
.foundation-s2 main .main-container .main-left .user-card .add-post-btn a button {
  width: 100%;
  height: 35px;
  font-size: 17px;
  color: #fff;
  background-color: #1c1c2d;
  border: none;
  border-radius: 7px;
}
.foundation-s2 main .main-container .main-left .user-card .add-post-btn a button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 3s all;
  transition: all 3s all;
  background-color: #fff;
  border: 3px solid #0B0B2F;
  color: #0B0B2F;
  font-weight: 500;
}
.foundation-s2 main .main-container .main-right {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container .main-right .info-of-acount {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foundation-s2 main .main-container .main-right .info-of-acount .posts-count, .foundation-s2 main .main-container .main-right .info-of-acount .publication, .foundation-s2 main .main-container .main-right .info-of-acount .favorites {
  width: 30%;
  height: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.foundation-s2 main .main-container .main-right .info-of-acount .posts-count, .foundation-s2 main .main-container .main-right .info-of-acount .publication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.foundation-s2 main .main-container .main-right .info-of-acount .posts-count h2, .foundation-s2 main .main-container .main-right .info-of-acount .publication h2 {
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  color: #0B0B2F;
}
.foundation-s2 main .main-container .main-right .info-of-acount .posts-count h2 span, .foundation-s2 main .main-container .main-right .info-of-acount .publication h2 span {
  color: #3b3b5c;
  font-weight: 400;
  margin-left: 30px;
}
.foundation-s2 main .main-container .main-right .info-of-acount .favorites h4 {
  color: #0B0B2F;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
.foundation-s2 main .main-container .main-right .info-of-acount .favorites span {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3b3b5c;
  font-size: 30px;
}
.foundation-s2 main .main-container .main-right .user-main {
  width: 95%;
  height: 70%;
  overflow: auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container .main-right .user-main::-webkit-scrollbar {
  display: none;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt {
  border-radius: 10px;
  width: 95%;
  height: 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt .acaunt-page {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt .acaunt-page img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt h3 {
  font-weight: 500;
  font-size: 18px;
  width: 70%;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt h4 {
  font-weight: 500;
  color: #0B0B2F;
}
.foundation-s2 main .main-container .main-right .user-main .user-accaunt:hover {
  background-color: rgb(239, 241, 245);
}